.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.logo {
  img {
    width: 46px;
  }


  span {
    margin-left: 4px;
    font-size: 20px;
    display: inline-block;
    font-weight: 700;
    color: #1890ff;
    white-space: nowrap;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
